.header {
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 600;
    background: linear-gradient(to right, #3b6069, #f8eaea);
    filter: drop-shadow(4px 4px 8px rgba(0, 8, 9, 0.5));
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    margin-bottom: 2.5%;
}

.logo {
    width: 100px;
    height: 100px;
}

